nav>a{
    text-decoration: none;
    color:rgba(46, 44, 44, 0.85);
}
nav {
    width:85%

}

a{
    text-decoration: none;
}


body {
    display:block;
    font-size: 1.25em;
    line-height: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 120px;
  
}
div {
    border: 10px solid red;
    background-color:azure;
    width:85%;
    box-shadow: 10px 10px yellow;
    opacity: 0.9;
    }

header nav{
font-size: 1.25em;
line-height: 2.3em;
height: 2.3em;
padding: 3px 10px ;
}